
@{
    ViewBag.Title = "Contact";
}

<div style="display: flex; flex-direction: row; height: 500px; justify-content: space-between;">

    <div style="display: flex; flex-direction: column; height: 400px; justify-content: space-between; ">
        <div style="width: 100px; height: 100px; background-color: pink; ">

            @Html.ActionLink("Go to Home", "Index", "Home") 
        </div>
        <div style="width: 100px; height: 100px; background-color: cyan; "></div>
        <div style="width: 100px; height: 100px; background-color: brown;"></div>
    </div>

    <div style="display: flex; flex-direction: column; height: 400px; justify-content: space-between;">
        <div style="width: 100px; height: 100px; background-color: red;"></div>
        <div style="width: 100px; height: 100px; background-color: blue;"></div>
        <div style="width: 100px; height: 100px; background-color: green;"></div>
    </div>

    <div style="display: flex; flex-direction: column; height: 400px; justify-content: space-between;">
        <div style="width: 100px; height: 100px; background-color: yellow; "></div>
        <div style="width: 100px; height: 100px; background-color: purple;"></div>
        <div style="width: 100px; height: 100px; background-color: orange;"></div>
    </div>

</div>

