@{
    ViewBag.Title = "Home Page";
}



<div style="display: flex; flex-direction: column; justify-content: space-between;">

    <div style="display: flex; flex-direction: row; justify-content: space-between; margin-top: 20px;">
        <div style="width: 100px; height: 100px; background-color: red;">
            @Html.ActionLink("Go to Contact", "Contact", "Home")
        </div>
        <div style="width: 100px; height: 100px; background-color: blue;"></div>
        <div style="width: 100px; height: 100px; background-color: green;"></div>
    </div>


    <div style="display: flex; flex-direction: row; justify-content: space-between; margin-top: 20px;">
        <div style="width: 100px; height: 100px; background-color: yellow;"></div>
        <div style="width: 100px; height: 100px; background-color: purple;"></div>
        <div style="width: 100px; height: 100px; background-color: orange;"></div>
    </div>

    <div style="display: flex; flex-direction: row; justify-content: space-between; margin-top: 20px;">
        <div style="width: 100px; height: 100px; background-color: pink;"></div>
        <div style="width: 100px; height: 100px; background-color: cyan;"></div>
        <div style="width: 100px; height: 100px; background-color: brown;"></div>
    </div>
</div>
